<!DOCTYPE html>
<html>
    <head>
        <title>
            LovedIn
        </title>
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <meta name="Author" content="Lord Abhay Sharma Himself">
        <meta name="Description" content="A dating website">
        <meta name="keywords" content="Lovedin , Dating,Chitkara Lovedin">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/css/style.css">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Akronim&display=swap" rel="stylesheet">
    </head>
    <body>

         <%- messages('messages', locals) %>

        

        <div class="container">
          <div class="outer-box">
              <div class="inbox bg-white">
                  <div class="post-container">
                      <div class="post-image">
                        <img src="/<%= posts.image %>">
                      </div>
                      <div class="time-stamp">
                          <p>
                              <em><%= posts.timeStamp %></em>
                          </p>
                      </div>
                      <div class="post-caption">
                          <p class="caption" style="line-height: 1.5">
                              <strong class="user-name">
                                  <%= posts.author%>
                              </strong>
                              <%= posts.caption %>
                          </p>
                      </div>


                      <div class="comments-details">
                          <% for (var i=0;i<comments.length;i++){ %>
                          <div class="single-comment-detail">
                              <p>
                                <span class="author"><%=comments[i].author %> </span> &nbsp; <%= comments[i].content%>
                              </p>
                          </div>
                          <% } %>
                      </div>
                      <% if(users._id == posts.posted){ %>
                      <div class="del">
                          <a href="home/<%= posts.id %>" data-id="<%= posts.id %>" class="btn del-post">Delete
                              Post</a>
                      </div>
                      <% } %>
                </div>
              </div>
          </div>
        </div>
                
        <script src="/js/main.js"></script>
        <script src="/js/del.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>